.login {
    background-color: #2888bf;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: white;
    width: 25%;
    height: 80%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 40% 60%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px 2px #5e5e5e ;
}

.email, .password {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.email:focus, .password:focus { 
    outline: none; 
}

.button {
    border: none;
    background-color: #2888bf;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.button:focus { 
    outline: none; 
}

.button:hover {
    background-color: #1b6087;
}

.error {
    background-color: #f5d6d3;
    color: red;
    font-size: 20px;
}

.top {
    display: grid;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 300px) and (max-width: 400px) {
    .login-container {
        width: 65%;
    }
    .error {
        font-size: 12px;
    }
    .button {
        font-size: 12px;
    }
    .email, .password { 
        font-size: 12px;
    }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
    .login-container {
        width: 60%;
    }
    .error {
        font-size: 14px;
    }
    .button {
        font-size: 14px;
    }
    .email, .password { 
        font-size: 14px;
    }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
    .login-container {
        width: 45%;
    }
    .error {
        font-size: 14px;
    }
    .button {
        font-size: 14px;
    }
    .email, .password { 
        font-size: 14px;
    }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    .login-container {
        width: 40%;
    }
    .error {
        font-size: 15px;
    }
    .button {
        font-size: 15px;
    }
    .email, .password { 
        font-size: 15px;
    }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    .login-container {
        width: 35%;
    }
    .error {
        font-size: 15px;
    }
    .button {
        font-size: 15px;
    }
    .email, .password { 
        font-size: 15px;
    }
}